# Python
__pycache__/
*.pyc
.env
venv/
env/
test_*.db
*.db

# Node
node_modules/
dist/
.output/
.pytest_cache/
.eslintcache

# Logs
*.log
app.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
